* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
.active {
    background-color: #32375c;
    color: #fff !important;
    padding: 13px 32px 13px 12px;
    border-radius: 5px;
}
/* ------------Registration section start------------ */
.Registration {
    width: 320px;
    margin-top: 50px;
}
.regHadding {
    text-align: center;
}
.Registration h2 {
    color: #11175d;
}
.RegInput {
    margin: 30px 0;
    position: relative;
}
.MuiTextField-root {
    width: 320px;
    margin: 30px 0;
}
.MuiButton-root {
    width: 320px;
    border-radius: 33px;
}
.eye-reg {
    position: absolute;
    top: 30%;
    right: 5%;
}
.reglink {
    color: orange;
}
.regPra {
    margin: 20px 0;
}

/* ----------------Root section start---------------- */
.rootnav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 39px;
}
.nav {
    margin-top: 33px;
}
.nav span {
    margin-left: 8px;
}
.navitem {
     margin: 30px 0;
}
.navlink {
    color: #222222;
    padding: 13px 32px 13px 12px;
    border-radius: 5px;

}
.log{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.logbutton {
    padding: 10px 15px;
    background-color: #222222;
    color: #ffff;
}
